body {
    background-color: azure;
    color: black
    
    
}
h1 {
    color: black;
}

a { color: grey;}

a:hover {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
}


    
#header{
    width: 100%;
    background: #000000;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
#header nav{
    margin-right: 50px;
}

#header nav a{
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
