---
---

<head>
  <meta charset="uft-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css" />
</head>
<body>
  <div class="head">
    <div class="logo"></div>
    <div id="header">
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li class="children">
            <a href="#">Travel Trace in China </a>

            <ul>
              <li><a href="{{ site.baseurl }}/North China">North China</a></li>
              <li><a href="{{ site.baseurl }}/West China">West China</a></li>
              <li><a href="{{ site.baseurl }}/South China">South China</a></li>
              <li><a href="{{ site.baseurl }}/East China">East China</a></li>
            </ul>
          </li>

          <li class="children">
            <a href="#">Important People</a>

            <ul>
              <li><a href="{{ site.baseurl }}/Kublai">Kublai</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/Controversy">Controversy</a></li>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <li><a href="{{ site.baseurl }}/Search">Search</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="banner"></div>
  <div class="container"><div class="content">{{ content }}</div></div>

  <footer>
    <div class="copy-right">
      <p>Built by students for the cultural web class.</p>
      <p>Copyright © students of King’s College London</p>
    </div>
  </footer>
</body>
