---
---

<head>
    <meta charset="uft-8"> 
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>
<body>
    <div class="container">
        <!-- <nav>
            <a href="{{ site.baseurl }}/">Macro Polo China Tour</a>
            <a href="{{ site.baseurl }}/">Macro Polo China Tour</a>
            <a href="{{ site.baseurl }}/">Macro Polo China Tour</a>
            <a href="{{ site.baseurl }}/">Macro Polo China Tour</a>
        </nav> -->
        <div id = "header">
            <nav>
                <a href="{{ site.baseurl }}/">Gallery</a>
                <a href="{{ site.baseurl }}/Macro Polo China Tour">Macro Polo China Tour</a>
                <a href="{{ site.baseurl }}/about">About</a>
                <a href="{{ site.baseurl }}/search">Search</a>
            </nav>
        </div>
    </div>
    <div class="container">
             {{ content }}
    </div>
</body>